<div class="container">

    <div class="row mt-10">
        <div>
            <p>Todas las imagenes utilizadas en este sitio son obtenidas de <a href="https://www.unsplash.com" target="_blank">Unsplash API</a> y están publicadas en <a href="https://www.unsplash.com" _target="_blank">Unsplash</a>.</p>
        </div>

        <div class="mt-10">
            <h2>Tecnología utilizada</h2>
            <p>En el desarrollo de este proyecto, se han utilizado las siguientes tecnologías.</p>

            <ul class="clearfix">
                <li>Angular2</li>
                <li>Bootstrap</li>
                <li>jquery</li>
            </ul>


        </div>

        <div class="mt-10">
            <h2 class="">APIS públicas utilizadas</h2>
            <p>En el desarrollo de este proyecto, se han utilizado las siguientes api publicas.</p>

            <ul>
                <li>google maps, para la localización de tiendas</li>
                <li><a href="https://unsplash.com/" target="_blank">unsplash</a> para la obtención de imágenes en base a unos parametros de búsqueda</li>
                <li><a href="https://qrng.anu.edu.au/" target="new">qrng</a> de la universidad nacional de australia para la obtención de números aleatorios<br>

                    <p class="clearfix alert alert-info">Este servicio web es un poco irregular. A veces tarda en generar los datos númericos, pero acaba hacíendolo.</p>

                </li>
            </ul>


        </div>


    </div>

</div>