<div class="container">

    <div class="row mt-10">


        <div class="mt-10">
            <h2>Cómo funciona</h2>
            <p>Al entrar en la página se carga un mapa con siete localizaciones, simulando tiendas de venta al público</p>
            <p>A la derecha del mapa, se muestra un resumen de las ventas y número de prendas de todas las tiendas agrupadas. Estos números son obtenidos a través de una API pública que tiene la Universidad Nacional de Australia.
            </p>

            <p>Al hacer click en el detalle situado a la derecha de los títulos, se cargan datos de categorías y productos, acompañados de números que simulan ventas, obtenidos de manera aleatoria.</p>

            <p class="text-danger">Los números son obtenidos de forma aleatoria, por lo que puede haber inconsistencias en los resultados.</p>

            <p>En la parte inferior, se cargan 10 imagenes. Estas imagenes simulan a los productos más vendidos en todas las tiendas</p>

            <p>Al seleccionar una de las tiendas en el mapa, se carga en la parte inferior el resultado de las ventas de la tienda seleccionada, y se muestran las imagenes de los productos más vendidos de esa tienda.
            </p>
        </div>


        <div class="mt-10">
            <h2>El menú superior</h2>
            <p><strong>Inicio</strong> Página principal del sitio</p>
            <p><strong>Documentación</strong> Breve explicación de las api y frameworks utilizados</p>
            <p><strong>Instrucciones</strong> Como funciona la aplicación</p>
            <p><strong>Reset</strong> Volver a cargar el mapa y resetear la información de la página</p>

        </div>


    </div>

</div>