.container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    flex-grow: 1;
    align-items: flex-start;
    padding: 16px;
    margin-top: 100px !important;
}